body {
    color: #999;
    background-image: url(../img/bg.jpg);
    font-family: 'Roboto', sans-serif;
}
.form-control {
    font-size: 16px;
    transition: all 0.4s;
    box-shadow: none;
}
.form-control, .btn {        
    border-radius: 50px;
    outline: none !important;
}
.signup-form {
    width: 500px;
    margin: 0 auto;
    padding: 30px 0;
    border-radius: 5px;
    margin-top: 60px;
}
.signup-form h2 {
    color: #333;
    margin: 0 0 30px 0;
    display: inline-block;
    padding: 0 30px 10px 0;
    border-bottom: 3px solid #fa8231;
}
.signup-form form {
    color: #999;
    border-radius: 5px;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 40px;
    margin-top: 120px;
}
.signup-form .form-group {
    margin-bottom: 20px;
}
.signup-form .btn {        
    font-size: 16px;
    font-weight: bold;
    background: -webkit-linear-gradient(left,#ffda79, #ffb142);
    border: none;
    margin-top: 20px;
    min-width: 140px;
}
.signup-form .btn:hover, .signup-form .btn:focus {
    background: -webkit-linear-gradient(left, #ffb142, #ffda79);
    outline: none !important;
}

.form-group #img{
    text-align: center;
}

#username{
    text-align: center;
}

